* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --darkMode-bg-color: #121214;

  --light-card-color: hsl(240, 9%, 89%);
  --dark-card-color: hsl(240, 6%, 17%);
  --light-activated-card-color: #02799d;
  --dark-activated-card-color: #0a3442;
  --base-color: #29292e;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);

  --text-color: #29292e;
  --darkMode-text-color: white;

  font-size: 62.5%;
}

body {
  transition: 0.47s ease-out;
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

svg path {
  transition: all 0.57s ease-out;
  fill: var(--base-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}
#timer span {
  transition: all 0.27s ease-in;
}
#timer {
  font-size: clamp(3rem, 3rem + 10vw, 11.6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 1.6rem;
  border-radius: 9999px;
}

#auxcontrols {
  display: flex;
  align-items: flex-start;
  /* gap: 2rem; */
  border-radius: 9999px;
  justify-content: flex-start;
}

.card {
  transition: all 0.27s ease-out;
  background-color: var(--light-card-color);
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 3.4rem;
}

.card svg path {
  transition: all 0.27s ease-out;
  fill: black;
}

.auxVolumeSound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.activated {
  transition: all 0.27s ease-in;
  background-color: var(--light-activated-card-color);
}

.activated svg path {
  transition: all 0.27s ease-in;
  fill: white;
}

.activated .slider,
.activated .slider::-webkit-slider-thumb {
  transition: 0.27s ease-in;
  background: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'A B'
    'C D';
  gap: 3.2rem;
}

header {
  padding: 6.4rem;
}

header button {
  position: relative;
  align-self: flex-end;
}

.grid .slidecontainer {
  width: 100%;
  margin-top: 3.2rem;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  background: black;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.27s;
  transition: opacity 0.27s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  transition: opacity 0.27s;
}

.soundVol {
  display: flex;
  flex-direction: column;
}

.sliderSound {
  margin-left: 3rem;
}
/* ################### DARK MODE ################### */

.dark-body .card {
  background-color: var(--dark-card-color);
}

.dark-body .activated {
  background-color: var(--dark-activated-card-color);
}

#controls .dark,
#auxcontrols .dark {
  fill: white;
}

.dark svg path {
  fill: white;
}

.dark-body {
  transition: all 0.27s ease-in;
  background-color: var(--darkMode-bg-color);
}

#timer .dark-body,
.dark-body span {
  transition: all 0.27s ease-in;
  color: white;
}

.dark-body .slider {
  background: white;
}

.dark-body .slider::-webkit-slider-thumb {
  background: white;
}
